In [4]:
# For data processing
import numpy as np
from math import sqrt
# For data processing and manipulation
import pandas as pd
import csv
 
# For date calculations
import datetime
import time
 
# For ploting data
import IPython
import IPython.display
 
import itertools
from itertools import cycle
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
 
# For checking path
import os , gc
from os import path
import csv
import json
 
 
from scipy.stats import hmean
 
from sklearn.metrics import mean_squared_error
import requests

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [5]:
# !wget https://github.com/trishume/OpenTuringCompiler/blob/master/stdlib-sfml/fonts/Times%20New%20Roman.ttf -P /usr/local/lib/python3.6/dist-packages/matplotlib/mpl-data/fonts/ttf

In [6]:
plt.rcParams['font.family'] = 'serif'
plt.rcParams['font.serif'] = ['Times New Roman'] + plt.rcParams['font.serif']

In [7]:
DATABASE_URL = "http://127.0.0.1:5000/"

In [8]:
ROOTPATH = 'C:\\Study\\CSE 4000\\New folder\\Thesis\\'
PATH_IMAGE = ROOTPATH+'images_chicago\\'
PATH_DA = ROOTPATH+"dataset\\chicago_data_for_da.csv"
PATH_PDA = ROOTPATH+"dataset\\chicago_data_chicago_for_police_da.csv"

In [9]:
date_after = pd.to_datetime("1/1/2004  00:00:00 AM")
date_before = pd.to_datetime("1/1/2018  00:00:00 AM")

In [10]:
dataset = pd.read_csv(ROOTPATH+'dataset\\Crimes_-_2001_to_Present.csv')

In [11]:
print(dataset.shape)
columns = dataset.columns
#filtered_columns = ["ID", "Case Number", "Date", "IUCR", "Primary Type", "Description",
 #                   "Location Description", "Arrest", "District", "X Coordinate", "Y Coordinate", "Year"]
#dataset = dataset[filtered_columns]
dataset.head()

(7864979, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,...,5.0,41.0,18,NaN,NaN,2018,04/09/2019 04:24:58 PM,NaN,NaN,NaN
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,31.0,19.0,14,NaN,NaN,2018,04/04/2019 04:16:11 PM,NaN,NaN,NaN
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,23.0,56.0,11,NaN,NaN,2015,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [12]:
# convert date to datetime
dataset['Date'] = pd.to_datetime(
    dataset['Date'], format='%m/%d/%Y %I:%M:%S %p')
# date -> year, month, day, hour, minute
dataset['Year'] = dataset['Date'].dt.year
dataset['Month'] = dataset['Date'].dt.month
dataset['Day'] = dataset['Date'].dt.day
dataset['Hour'] = dataset['Date'].dt.hour
dataset['Minute'] = dataset['Date'].dt.minute

In [13]:
# sort dataset by date
#dataset = dataset.sort_values(by=['Date'])

In [14]:
dataset.head()
columns = dataset.columns

In [15]:
"""class CrimeModel:
    def __init__(self, day=-1, month=-1, year=-1,
                 hour=-1, minute=-1, primary_type="",
                 description="", arrest=False,
                 district=-1, x_coordinate=-1, y_coordinate=-1):

        # self.id = int(id)
        # self.case_number = str(case_number)
        self.day = int(day)
        self.month = int(month)
        self.year = int(year)
        self.hour = int(hour)
        self.minute = int(minute)
        # self.iucr = str(iucr)
        self.primary_type = primary_type
        self.description = description
        # self.location_description = location_description
        self.arrest = bool(arrest)
        self.district = int(district)
        self.x_coordinate = float(x_coordinate)
        self.y_coordinate = float(y_coordinate)
        self.year = int(year)
"""

'class CrimeModel:\n    def __init__(self, day=-1, month=-1, year=-1,\n                 hour=-1, minute=-1, primary_type="",\n                 description="", arrest=False,\n                 district=-1, x_coordinate=-1, y_coordinate=-1):\n\n        # self.id = int(id)\n        # self.case_number = str(case_number)\n        self.day = int(day)\n        self.month = int(month)\n        self.year = int(year)\n        self.hour = int(hour)\n        self.minute = int(minute)\n        # self.iucr = str(iucr)\n        self.primary_type = primary_type\n        self.description = description\n        # self.location_description = location_description\n        self.arrest = bool(arrest)\n        self.district = int(district)\n        self.x_coordinate = float(x_coordinate)\n        self.y_coordinate = float(y_coordinate)\n        self.year = int(year)\n'

In [16]:
"""columns_now = dataset.columns
columns_now = columns_now.drop(['Date'])
columns_now = columns_now.drop(['ID'])
columns_now = columns_now.drop(['Case Number'])
columns_now = columns_now.drop(['Location Description'])
columns_now = columns_now.drop(['IUCR'])

dataset_now = dataset[columns_now]
print(columns_now)
print(dataset_now.shape)

"""

"columns_now = dataset.columns\ncolumns_now = columns_now.drop(['Date'])\ncolumns_now = columns_now.drop(['ID'])\ncolumns_now = columns_now.drop(['Case Number'])\ncolumns_now = columns_now.drop(['Location Description'])\ncolumns_now = columns_now.drop(['IUCR'])\n\ndataset_now = dataset[columns_now]\nprint(columns_now)\nprint(dataset_now.shape)\n\n"

In [17]:
for column in columns:
    print("before", column, dataset[column].isnull().sum())
    dataset = dataset.drop(
        index=dataset.loc[dataset[column].isnull()].index)
    dataset = dataset.reset_index(drop=True)
    print("after", column, dataset[column].isnull().sum())

before ID 0
after ID 0
before Case Number 0
after Case Number 0
before Date 0
after Date 0
before Block 0
after Block 0
before IUCR 0
after IUCR 0
before Primary Type 0
after Primary Type 0
before Description 0
after Description 0
before Location Description 11375
after Location Description 0
before Arrest 0
after Arrest 0
before Domestic 0
after Domestic 0
before Beat 0
after Beat 0
before District 47
after District 0
before Ward 613985
after Ward 0
before Community Area 1236
after Community Area 0
before FBI Code 0
after FBI Code 0
before X Coordinate 73765
after X Coordinate 0
before Y Coordinate 0
after Y Coordinate 0
before Year 0
after Year 0
before Updated On 0
after Updated On 0
before Latitude 0
after Latitude 0
before Longitude 0
after Longitude 0
before Location 0
after Location 0
before Month 0
after Month 0
before Day 0
after Day 0
before Hour 0
after Hour 0
before Minute 0
after Minute 0

In [18]:
dataset_now = dataset
print(dataset.shape)
dataset_now.head()
"""# convert each column to corresponding type in CrimeModel

dataset_now['day'] = dataset_now['Day'].astype(int)
dataset_now['month'] = dataset_now['Month'].astype(int)
dataset_now['year'] = dataset_now['Year'].astype(int)
dataset_now['hour'] = dataset_now['Hour'].astype(int)
dataset_now['minute'] = dataset_now['Minute'].astype(int)
dataset_now['primary_type'] = dataset_now['Primary Type']
dataset_now['description'] = dataset_now['Description']
# dataset_now['location_description'] = dataset_now['Location Description']
dataset_now['arrest'] = dataset_now['Arrest'].astype(bool)
dataset_now['district'] = dataset_now['District'].astype(int)
dataset_now['x_coordinate'] = dataset_now['X Coordinate'].astype(float)
dataset_now['y_coordinate'] = dataset_now['Y Coordinate'].astype(float)"""

(7164571, 26)

"# convert each column to corresponding type in CrimeModel\n\ndataset_now['day'] = dataset_now['Day'].astype(int)\ndataset_now['month'] = dataset_now['Month'].astype(int)\ndataset_now['year'] = dataset_now['Year'].astype(int)\ndataset_now['hour'] = dataset_now['Hour'].astype(int)\ndataset_now['minute'] = dataset_now['Minute'].astype(int)\ndataset_now['primary_type'] = dataset_now['Primary Type']\ndataset_now['description'] = dataset_now['Description']\n# dataset_now['location_description'] = dataset_now['Location Description']\ndataset_now['arrest'] = dataset_now['Arrest'].astype(bool)\ndataset_now['district'] = dataset_now['District'].astype(int)\ndataset_now['x_coordinate'] = dataset_now['X Coordinate'].astype(float)\ndataset_now['y_coordinate'] = dataset_now['Y Coordinate'].astype(float)"

In [19]:
"""columns = ['day', 'month', 'year', 'hour', 'minute', 'primary_type',
           'description', 'arrest', 'district', 'x_coordinate', 'y_coordinate']
dataset_now = dataset_now[columns]
dataset_now.head()"""

"columns = ['day', 'month', 'year', 'hour', 'minute', 'primary_type',\n           'description', 'arrest', 'district', 'x_coordinate', 'y_coordinate']\ndataset_now = dataset_now[columns]\ndataset_now.head()"

In [20]:
#dataset_now.to_csv(PATH_DA, index=False)

In [21]:
# test = dataset.values[0]
# y = dataset.columns
# for x in range(len(test)):
#     print(x, y[x],test[x])
# datasetValues = dataset.values
# from IPython.display import clear_output

# def checkNull(crime):
#     res = False
#     for x in crime:
#         if x == None:
#             res = True
#             break
#     return res

# for test in datasetValues:
#     try:
#         if checkNull(test):
#             continue
        
#         crimeChicagoTest = CrimeModel(id=test[0], case_number=test[1], day=test[13], month=test[12], year=test[11],
#                                        hour=test[14], minute=test[15], 
#                                        iucr=test[3], primary_type=test[4],
#                                         description=test[5],
#                                         location_description=test[6], arrest=test[7], district=test[8], x_coordinate=test[9], y_coordinate=test[10])
#         urlTest = DATABASE_URL + "add/crime"
#         request_data = crimeChicagoTest.__dict__
#         request_data['chicago_crime'] = True

#         requests.post(urlTest, json=crimeChicagoTest.__dict__)
#     except Exception as e:
#         clear_output()
#         print(e)

In [22]:
# requestData = {
#  'block': '014XX W 115TH ST',
#  'primary_type': 'CRIMINAL DAMAGE',
#  'description': 'TO PROPERTY',
#  'location_description': 'RESIDENCE',
#  'arrest': False,
#  'domestic': False,
#  'beat': 524,
#  'district': 5,
#  'ward': 34,
#  'community_area': 53,
#  'FBIcode': '14',
#  'x_coordinate': 1168895.0,
#  'y_coordinate': 1828486.0,
#  'year': 2015,
#  'latitude': 41.684878352,
#  'longitude': -87.657350466}

In [23]:
print(dataset_now.shape)

(7164571, 26)

In [24]:
dataset_now.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Month', 'Day', 'Hour', 'Minute'],
      dtype='object')

In [25]:
dataset.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Month,Day,Hour,Minute
0,10224881,HY411873,2015-09-03 18:00:00,044XX S UNIVERSITY AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,1875669.0,2015,02/10/2018 03:50:01 PM,41.813999,-87.598138,"(41.81399924, -87.598137918)",9,3,18,0
1,10225155,HY412177,2015-09-05 22:42:00,007XX W IRVING PARK RD,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,True,False,...,1926785.0,2015,02/10/2018 03:50:01 PM,41.954584,-87.648376,"(41.954584472, -87.648375776)",9,5,22,42
2,10225206,HY412253,2015-09-06 01:10:00,047XX S STATE ST,041A,BATTERY,AGGRAVATED: HANDGUN,VACANT LOT/LAND,False,False,...,1873609.0,2015,02/10/2018 03:50:01 PM,41.808521,-87.626066,"(41.80852139, -87.62606631)",9,6,1,10
3,10225234,HY412306,2015-09-06 02:00:00,002XX N ST LOUIS AVE,0420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,SIDEWALK,False,False,...,1901570.0,2015,02/10/2018 03:50:01 PM,41.885759,-87.713588,"(41.885759278, -87.713588042)",9,6,2,0
4,10225308,HY412341,2015-09-06 02:35:00,013XX W ADDISON ST,2230,LIQUOR LAW VIOLATION,ILLEGAL CONSUMPTION BY MINOR,SIDEWALK,True,False,...,1924028.0,2015,09/17/2015 11:37:18 AM,41.947100,-87.662116,"(41.947099832, -87.662115668)",9,6,2,35

In [26]:
requestData = {
    'Primary Type': 'CRIMINAL DAMAGE',
    'Location Description': 'RESIDENCE',
    'Arrest': False
}

urlTest = DATABASE_URL + "query/find/chicago/crime"
x = requests.get(urlTest, json=requestData)
print(len(x.json()))

156225