In [10]:
# For data processing
import numpy as np
from math import sqrt
# For data processing and manipulation
import pandas as pd
import csv
 
# For date calculations
import datetime
import time
 
# For ploting data
import IPython
import IPython.display
 
import itertools
from itertools import cycle
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
 
# For checking path
import os , gc
from os import path
import csv
import json
 
 
from scipy.stats import hmean
 
from sklearn.metrics import mean_squared_error
import requests

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [11]:
plt.rcParams['font.family'] = 'serif'
plt.rcParams['font.serif'] = ['Times New Roman'] + plt.rcParams['font.serif']

In [12]:
ROOTPATH = 'C:\\Study\\CSE 4000\\New folder\\Thesis\\'
#PATH_IMAGE = ROOTPATH+'images_chicago\\'
#PATH_WEAT_SF = ROOTPATH+"dataset\\weather_data_sf_2004_2023.csv"

In [13]:
date_after = pd.to_datetime("1/1/2004  00:00:00 AM")
date_before = pd.to_datetime("1/1/2018  00:00:00 AM")

In [14]:
dataset = pd.read_csv(ROOTPATH+'dataset\\weather_data_sf_2004_2023.csv')

In [15]:
print(dataset.shape)
columns = dataset.columns
#filtered_columns = ["ID", "Case Number", "Date", "IUCR", "Primary Type", "Description", "Location Description", "Arrest", "District", "X Coordinate", "Y Coordinate", "Year"]
#dataset = dataset[filtered_columns]
dataset.head()

(181872, 16)

,Unnamed: 0,expire_time_gmt,valid_time_gmt,temp,wx_phrase,heat_index,rh,pressure,vis,wc,wdir,wspd,max_temp,min_temp,expire_date_time,valid_date_time
0,0,1072950960,1072943760,12.0,Cloudy,12.0,80.0,1013.64,16.0,12.0,160.0,22.0,12.0,7.0,01/01/2004 16:00:00,01/01/2004 14:00:00
1,1,1072954560,1072947360,11.0,Cloudy,11.0,83.0,1013.34,12.0,11.0,150.0,22.0,NaN,NaN,01/01/2004 17:00:00,01/01/2004 15:00:00
2,2,1072958160,1072950960,11.0,Cloudy,11.0,89.0,1012.84,8.0,11.0,120.0,20.0,NaN,NaN,01/01/2004 18:00:00,01/01/2004 16:00:00
3,3,1072958640,1072951440,11.0,Cloudy,11.0,88.0,1012.85,6.0,11.0,120.0,24.0,NaN,NaN,01/01/2004 18:00:00,01/01/2004 16:00:00
4,4,1072961760,1072954560,11.0,Cloudy / Windy,11.0,86.0,1012.94,8.0,11.0,170.0,33.0,NaN,NaN,01/01/2004 19:00:00,01/01/2004 17:00:00

In [16]:
"""#convert expire_date_time to datetime
dataset['expire_date_time'] = pd.to_datetime(dataset['expire_date_time'], format='%Y/%m/%d %H:%M:%S')
#date -> year, month, day, hour, minute
dataset['Expire_Year'] = dataset['expire_date_time'].dt.year
dataset['Expire_Month'] = dataset['expire_date_time'].dt.month
dataset['Expire_Day'] = dataset['expire_date_time'].dt.day
dataset['Expire_Hour'] = dataset['expire_date_time'].dt.hour
dataset['Expire_Minute'] = dataset['expire_date_time'].dt.minute
#convert valid_date_time to datetime
dataset['valid_date_time'] = pd.to_datetime(dataset['valid_date_time'], format='%Y/%m/%d %H:%M:%S')
#date -> year, month, day, hour, minute
dataset['Valid_Year'] = dataset['valid_date_time'].dt.year
dataset['Valid_Month'] = dataset['valid_date_time'].dt.month
dataset['Valid_Day'] = dataset['valid_date_time'].dt.day
dataset['Valid_Hour'] = dataset['valid_date_time'].dt.hour
dataset['Valid_Minute'] = dataset['valid_date_time'].dt.minute
"""

"#convert expire_date_time to datetime\ndataset['expire_date_time'] = pd.to_datetime(dataset['expire_date_time'], format='%Y/%m/%d %H:%M:%S')\n#date -> year, month, day, hour, minute\ndataset['Expire_Year'] = dataset['expire_date_time'].dt.year\ndataset['Expire_Month'] = dataset['expire_date_time'].dt.month\ndataset['Expire_Day'] = dataset['expire_date_time'].dt.day\ndataset['Expire_Hour'] = dataset['expire_date_time'].dt.hour\ndataset['Expire_Minute'] = dataset['expire_date_time'].dt.minute\n#convert valid_date_time to datetime\ndataset['valid_date_time'] = pd.to_datetime(dataset['valid_date_time'], format='%Y/%m/%d %H:%M:%S')\n#date -> year, month, day, hour, minute\ndataset['Valid_Year'] = dataset['valid_date_time'].dt.year\ndataset['Valid_Month'] = dataset['valid_date_time'].dt.month\ndataset['Valid_Day'] = dataset['valid_date_time'].dt.day\ndataset['Valid_Hour'] = dataset['valid_date_time'].dt.hour\ndataset['Valid_Minute'] = dataset['valid_date_time'].dt.minute\n"

In [17]:
columns_now = dataset.columns
print(columns_now)
print(dataset.shape)

Index(['Unnamed: 0', 'expire_time_gmt', 'valid_time_gmt', 'temp', 'wx_phrase',
       'heat_index', 'rh', 'pressure', 'vis', 'wc', 'wdir', 'wspd', 'max_temp',
       'min_temp', 'expire_date_time', 'valid_date_time'],
      dtype='object')
(181872, 16)

In [18]:
"""class WeatherModel:
    def __init__(self,Unnamed = -1, expire_time_gmt = "", valid_time_gmt = "",temp = -1 ,wx_phase = "", heat_index = -1, rh = -1 , pressure = -1, vis = -1 ,wc = -1, wdir = -1, wspd = -1, max_temp = -1, min_temp = -1, expire_date_time = "", valid_date_time="", Expire_Year = -1, Expire_Month = -1, Expire_Day = -1, Expire_Hour = -1, Expire_Minute = -1, Valid_Year = -1, Valid_Month = -1, Valid_Day = -1, Valid_Hour = -1, Valid_Minute = -1):
        self.Unnamed = Unnamed
        self.expire_time_gmt = expire_time_gmt
        self.valid_time_gmt = valid_time_gmt
        self.temp = float(temp)
        #self.wx_phrase = str(wx_phrase)
        self.heat_index = float(heat_index)
        self.rh = float(rh)
        self.pressure = float(pressure)
        self.vis = float(vis)
        self.wc = float(wc)
        self.wdir = float(wdir)
        self.expire_time_gmt = expire_time_gmt
        self.wspd = float(wspd)
        self.max_temp = float(max_temp)
        self.min_temp = float(min_temp)
        self.expire_date_time = expire_date_time
        self.valid_time_gmt = valid_time_gmt
        self.Expire_Year = int(Expire_Year)
        self.Expire_Month = int(Expire_Month)
        self.Expire_Day = int(Expire_Day)
        self.Expire_Hour = int(Expire_Hour)
        self.Expire_Minute = int(Expire_Minute)
        self.Valid_Year = int(Valid_Year)
        self.Valid_Month = int(Valid_Month)
        self.Valid_Day = int(Valid_Day)
        self.Valid_Hour = int(Valid_Hour)
        self.Valid_Minute = int(Valid_Minute)"""

'class WeatherModel:\n    def __init__(self,Unnamed = -1, expire_time_gmt = "", valid_time_gmt = "",temp = -1 ,wx_phase = "", heat_index = -1, rh = -1 , pressure = -1, vis = -1 ,wc = -1, wdir = -1, wspd = -1, max_temp = -1, min_temp = -1, expire_date_time = "", valid_date_time="", Expire_Year = -1, Expire_Month = -1, Expire_Day = -1, Expire_Hour = -1, Expire_Minute = -1, Valid_Year = -1, Valid_Month = -1, Valid_Day = -1, Valid_Hour = -1, Valid_Minute = -1):\n        self.Unnamed = Unnamed\n        self.expire_time_gmt = expire_time_gmt\n        self.valid_time_gmt = valid_time_gmt\n        self.temp = float(temp)\n        #self.wx_phrase = str(wx_phrase)\n        self.heat_index = float(heat_index)\n        self.rh = float(rh)\n        self.pressure = float(pressure)\n        self.vis = float(vis)\n        self.wc = float(wc)\n        self.wdir = float(wdir)\n        self.expire_time_gmt = expire_time_gmt\n        self.wspd = float(wspd)\n        self.max_temp = float(max_temp)\n        self.min_temp = float(min_temp)\n        self.expire_date_time = expire_date_time\n        self.valid_time_gmt = valid_time_gmt\n        self.Expire_Year = int(Expire_Year)\n        self.Expire_Month = int(Expire_Month)\n        self.Expire_Day = int(Expire_Day)\n        self.Expire_Hour = int(Expire_Hour)\n        self.Expire_Minute = int(Expire_Minute)\n        self.Valid_Year = int(Valid_Year)\n        self.Valid_Month = int(Valid_Month)\n        self.Valid_Day = int(Valid_Day)\n        self.Valid_Hour = int(Valid_Hour)\n        self.Valid_Minute = int(Valid_Minute)'

In [19]:
"""columns_new = [ 'expire_time_gmt', 'valid_time_gmt', 'temp', 'wx_phrase',
        'rh', 'pressure', 'vis', 'expire_date_time', 'valid_date_time', 'Expire_Year',
       'Expire_Month', 'Expire_Day', 'Expire_Hour', 'Expire_Minute',
       'Valid_Year', 'Valid_Month', 'Valid_Day', 'Valid_Hour', 'Valid_Minute']
dataset = dataset[columns_new]
#sort dataset by expire_date_time
dataset = dataset.sort_values(by=['expire_date_time'])
columns_now = dataset.columns
# before wspd 5891
# before heat_index 2136"""

"columns_new = [ 'expire_time_gmt', 'valid_time_gmt', 'temp', 'wx_phrase',\n        'rh', 'pressure', 'vis', 'expire_date_time', 'valid_date_time', 'Expire_Year',\n       'Expire_Month', 'Expire_Day', 'Expire_Hour', 'Expire_Minute',\n       'Valid_Year', 'Valid_Month', 'Valid_Day', 'Valid_Hour', 'Valid_Minute']\ndataset = dataset[columns_new]\n#sort dataset by expire_date_time\ndataset = dataset.sort_values(by=['expire_date_time'])\ncolumns_now = dataset.columns\n# before wspd 5891\n# before heat_index 2136"

In [20]:
"""for column in columns_now:
    print("before" , column, dataset[column].isnull().sum())
    dataset = dataset.drop( index= dataset.loc[dataset[column].isnull()].index)
    dataset = dataset.reset_index(drop= True)
    print("after", column, dataset[column].isnull().sum())"""

'for column in columns_now:\n    print("before" , column, dataset[column].isnull().sum())\n    dataset = dataset.drop( index= dataset.loc[dataset[column].isnull()].index)\n    dataset = dataset.reset_index(drop= True)\n    print("after", column, dataset[column].isnull().sum())'

In [21]:
print(dataset.shape)
dataset.head()

(181872, 16)

,Unnamed: 0,expire_time_gmt,valid_time_gmt,temp,wx_phrase,heat_index,rh,pressure,vis,wc,wdir,wspd,max_temp,min_temp,expire_date_time,valid_date_time
0,0,1072950960,1072943760,12.0,Cloudy,12.0,80.0,1013.64,16.0,12.0,160.0,22.0,12.0,7.0,01/01/2004 16:00:00,01/01/2004 14:00:00
1,1,1072954560,1072947360,11.0,Cloudy,11.0,83.0,1013.34,12.0,11.0,150.0,22.0,NaN,NaN,01/01/2004 17:00:00,01/01/2004 15:00:00
2,2,1072958160,1072950960,11.0,Cloudy,11.0,89.0,1012.84,8.0,11.0,120.0,20.0,NaN,NaN,01/01/2004 18:00:00,01/01/2004 16:00:00
3,3,1072958640,1072951440,11.0,Cloudy,11.0,88.0,1012.85,6.0,11.0,120.0,24.0,NaN,NaN,01/01/2004 18:00:00,01/01/2004 16:00:00
4,4,1072961760,1072954560,11.0,Cloudy / Windy,11.0,86.0,1012.94,8.0,11.0,170.0,33.0,NaN,NaN,01/01/2004 19:00:00,01/01/2004 17:00:00

In [22]:
"""#convert each column to corresponding data type in WeatherModel
# fix it jegula nai ogula bad dao
dataset['expire_time_gmt'] = dataset['expire_time_gmt'].astype(str)
dataset['Expire_Year'] = dataset['Expire_Year'].astype(int)
dataset['Expire_Month'] = dataset['Expire_Month'].astype(int)
dataset['Expire_Day'] = dataset['Expire_Day'].astype(int)
dataset['Expire_Hour'] = dataset['Expire_Hour'].astype(int)
dataset['Expire_Minute'] = dataset['Expire_Minute'].astype(int)
dataset['Valid_Year'] = dataset['Valid_Year'].astype(int)
dataset['Valid_Day'] = dataset['Valid_Day'].astype(int)
dataset['Valid_Hour'] = dataset['Valid_Hour'].astype(int)
dataset['Valid_Minute'] = dataset['Valid_Minute'].astype(int)
dataset['Valid_Month'] = dataset['Valid_Month'].astype(int)
#dataset['Unnamed: 0'] = dataset['Unnamed: 0'].astype(int)
dataset['temp'] = dataset['temp'].astype(float)
#dataset['heat_index'] = dataset['heat_index'].astype(float)
dataset['rh'] = dataset['rh'].astype(float)
dataset['pressure'] = dataset['pressure'].astype(float)
dataset['vis'] = dataset['vis'].astype(float)
#dataset['wc'] = dataset['wc'].astype(float)
#dataset['wdir'] = dataset['wdir'].astype(float)
#dataset['wspd'] = dataset['wspd'].astype(float)
#ataset['max_temp'] = dataset['max_temp'].astype(float)
#dataset['min_temp'] = dataset['min_temp'].astype(float)
dataset['expire_date_time'] = dataset['expire_date_time'].astype(str)
dataset['valid_date_time'] = dataset['valid_date_time'].astype(str)
dataset['wx_phrase'] = dataset['wx_phrase'].astype(str)
dataset['valid_time_gmt'] = dataset['valid_time_gmt'].astype(str)
"""

"#convert each column to corresponding data type in WeatherModel\n# fix it jegula nai ogula bad dao\ndataset['expire_time_gmt'] = dataset['expire_time_gmt'].astype(str)\ndataset['Expire_Year'] = dataset['Expire_Year'].astype(int)\ndataset['Expire_Month'] = dataset['Expire_Month'].astype(int)\ndataset['Expire_Day'] = dataset['Expire_Day'].astype(int)\ndataset['Expire_Hour'] = dataset['Expire_Hour'].astype(int)\ndataset['Expire_Minute'] = dataset['Expire_Minute'].astype(int)\ndataset['Valid_Year'] = dataset['Valid_Year'].astype(int)\ndataset['Valid_Day'] = dataset['Valid_Day'].astype(int)\ndataset['Valid_Hour'] = dataset['Valid_Hour'].astype(int)\ndataset['Valid_Minute'] = dataset['Valid_Minute'].astype(int)\ndataset['Valid_Month'] = dataset['Valid_Month'].astype(int)\n#dataset['Unnamed: 0'] = dataset['Unnamed: 0'].astype(int)\ndataset['temp'] = dataset['temp'].astype(float)\n#dataset['heat_index'] = dataset['heat_index'].astype(float)\ndataset['rh'] = dataset['rh'].astype(float)\ndataset['pressure'] = dataset['pressure'].astype(float)\ndataset['vis'] = dataset['vis'].astype(float)\n#dataset['wc'] = dataset['wc'].astype(float)\n#dataset['wdir'] = dataset['wdir'].astype(float)\n#dataset['wspd'] = dataset['wspd'].astype(float)\n#ataset['max_temp'] = dataset['max_temp'].astype(float)\n#dataset['min_temp'] = dataset['min_temp'].astype(float)\ndataset['expire_date_time'] = dataset['expire_date_time'].astype(str)\ndataset['valid_date_time'] = dataset['valid_date_time'].astype(str)\ndataset['wx_phrase'] = dataset['wx_phrase'].astype(str)\ndataset['valid_time_gmt'] = dataset['valid_time_gmt'].astype(str)\n"

In [23]:
"""dataset.to_csv(PATH_WEAT_SF, index= False)"""

'dataset.to_csv(PATH_WEAT_SF, index= False)'

In [24]:
dataset.head()

,Unnamed: 0,expire_time_gmt,valid_time_gmt,temp,wx_phrase,heat_index,rh,pressure,vis,wc,wdir,wspd,max_temp,min_temp,expire_date_time,valid_date_time
0,0,1072950960,1072943760,12.0,Cloudy,12.0,80.0,1013.64,16.0,12.0,160.0,22.0,12.0,7.0,01/01/2004 16:00:00,01/01/2004 14:00:00
1,1,1072954560,1072947360,11.0,Cloudy,11.0,83.0,1013.34,12.0,11.0,150.0,22.0,NaN,NaN,01/01/2004 17:00:00,01/01/2004 15:00:00
2,2,1072958160,1072950960,11.0,Cloudy,11.0,89.0,1012.84,8.0,11.0,120.0,20.0,NaN,NaN,01/01/2004 18:00:00,01/01/2004 16:00:00
3,3,1072958640,1072951440,11.0,Cloudy,11.0,88.0,1012.85,6.0,11.0,120.0,24.0,NaN,NaN,01/01/2004 18:00:00,01/01/2004 16:00:00
4,4,1072961760,1072954560,11.0,Cloudy / Windy,11.0,86.0,1012.94,8.0,11.0,170.0,33.0,NaN,NaN,01/01/2004 19:00:00,01/01/2004 17:00:00