In [2]:
import time
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, create_engine, Float
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy import Table
from sqlalchemy import create_engine, text
import os

In [3]:
#create connection to database
username = 'postgres'
password = '1234'
host = 'localhost'
port = '5432'
database = 'thesis'

address = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, database)
print(address)
engine = create_engine(address, echo=False)

postgresql://postgres:1234@localhost:5432/thesis

<h2><b> join weathers by date, pressure difference </h2></b>

In [12]:
start_time = time.time()

query = text("""
WITH chicago_pressure AS (
    SELECT 
        valid_date_time, 
        pressure,
        temp
    FROM chicago_weather
),
sf_pressure AS (
    SELECT 
        valid_date_time, 
        pressure,
        temp
    FROM sf_weather
)
SELECT 
    chicago.valid_date_time,
    chicago.pressure AS chicago_pressure,
    chicago.temp AS chicago_temp,
    sf.pressure AS sf_pressure,
    sf.temp AS sf_temp,
    chicago.pressure - sf.pressure AS pressure_difference,
    chicago.temp - sf.temp AS temp_difference
FROM chicago_pressure AS chicago
JOIN sf_pressure AS sf ON chicago.valid_date_time = sf.valid_date_time
ORDER BY chicago.valid_date_time;
""")
df = pd.read_sql_query(query, engine)

end_time = time.time()

display(df)  

print(f"Execution Time: {end_time - start_time:.2f} seconds")

,valid_date_time,chicago_pressure,chicago_temp,sf_pressure,sf_temp,pressure_difference,temp_difference
0,01/01/2004 14:00:00,1004.38,-1.0,1013.64,12.0,-9.26,-13.0
1,01/01/2004 15:00:00,1004.67,-1.0,1013.34,11.0,-8.67,-12.0
2,01/01/2004 16:00:00,1004.18,-1.0,1012.85,11.0,-8.67,-12.0
3,01/01/2004 16:00:00,1004.18,-1.0,1012.84,11.0,-8.66,-12.0
4,01/01/2004 17:00:00,1003.99,-1.0,1012.17,11.0,-8.18,-12.0
...,...,...,...,...,...,...,...
212762,31/12/2022 11:00:00,992.68,1.0,1012.51,16.0,-19.83,-15.0
212763,31/12/2022 11:00:00,992.68,1.0,1012.17,16.0,-19.49,-15.0
212764,31/12/2022 11:00:00,992.68,1.0,1012.17,16.0,-19.49,-15.0
212765,31/12/2022 12:00:00,991.69,-1.0,1012.51,16.0,-20.82,-17.0
212766,31/12/2022 12:00:00,991.69,-1.0,1012.51,16.0,-20.82,-17.0

Execution Time: 1.17 seconds

In [12]:
start_time = time.time()

query = text("""
SELECT *
FROM
    chicago_crime c
JOIN
    sf_crimedata s ON TO_TIMESTAMP(c."Date", 'MM/DD/YYYY HH12:MI:SS AM') = TO_TIMESTAMP(s."Date" || ' ' || s."Time", 'MM/DD/YYYY HH24:MI');
""")
df = pd.read_sql_query(query, engine)

end_time = time.time()

display(df)  

print(f"Execution Time: {end_time - start_time:.2f} seconds")

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Fix It Zones as of 2017-11-06 2 2,DELETE - HSOC Zones 2 2,Fix It Zones as of 2018-02-07 2 2,"CBD, BID and GBD Boundaries as of 2017 2 2","Areas of Vulnerability, 2016 2 2",Central Market/Tenderloin Boundary 2 2,Central Market/Tenderloin Boundary Polygon - Updated 2 2,HSOC Zones as of 2018-06-05 2 2,OWED Public Spaces 2 2,Neighborhoods 2
0,7107718,HR502833,01/01/2003 12:01:00 AM,048XX S LOOMIS BLVD,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,54.0
1,7088330,HR496378,01/01/2003 12:01:00 AM,026XX W 85TH ST,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,False,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,54.0
2,7285469,HR701573,01/01/2003 12:01:00 AM,046XX W WRIGHTWOOD AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,54.0
3,7458792,HS258706,01/01/2003 12:01:00 AM,035XX W 81ST PL,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,True,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,54.0
4,6176395,HP266106,01/01/2003 12:01:00 AM,066XX S EVANS AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,False,True,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15159108,11318849,JB264229,05/15/2018 10:30:00 AM,033XX W FILLMORE ST,2093,NARCOTICS,FOUND SUSPECT NARCOTICS,POLICE FACILITY/VEH PARKING LOT,True,False,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,32.0
15159109,11423226,JB405152,05/15/2018 10:30:00 AM,118XX S SANGAMON ST,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,32.0
15159110,11316236,JB264360,05/15/2018 10:30:00 AM,040XX S CALUMET AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,None,False,False,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,32.0
15159111,11315761,JB264257,05/15/2018 10:30:00 AM,036XX S INDIANA AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,32.0
15159112,11315827,JB264256,05/15/2018 10:30:00 AM,083XX S BURNHAM AVE,4255,KIDNAPPING,UNLAWFUL INTERFERE/VISITATION,APARTMENT,False,True,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,32.0

Execution Time: 4039.19 seconds